# =========================
# ARQUIVOS JAVA/SPRING
# =========================

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Pacotes / Arquivos binários
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# GRADLE / MAVEN / CACHE
# =========================

.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IDEs E AMBIENTES
# =========================

# VSCode
.vscode/
.settings/
.idea/
*.iml

# SO / Sistema
.DS_Store
Thumbs.db

# =========================
# LOGS E ARQUIVOS TEMP
# =========================

hs_err_pid*
replay_pid*

# =========================
# OUTROS
# =========================

# Arquivos de backup
*~
